<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>JobOrganizer</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginController</display-name>
    	<servlet-name>LoginController</servlet-name>
    	<servlet-class>com.diamante.web.LoginController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddJobController</display-name>
    	<servlet-name>AddJobController</servlet-name>
    	<servlet-class>com.diamante.web.AddJobController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoadJobsController</display-name>
    	<servlet-name>LoadJobsController</servlet-name>
    	<servlet-class>com.diamante.web.LoadJobsController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteJobController</display-name>
    	<servlet-name>DeleteJobController</servlet-name>
    	<servlet-class>com.diamante.web.DeleteJobController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SelectJobController</display-name>
    	<servlet-name>SelectJobController</servlet-name>
    	<servlet-class>com.diamante.web.SelectJobController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditJobController</display-name>
    	<servlet-name>EditJobController</servlet-name>
    	<servlet-class>com.diamante.web.EditJobController</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/getLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddJobController</servlet-name>
    	<url-pattern>/addJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoadJobsController</servlet-name>
    	<url-pattern>/loadJobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteJobController</servlet-name>
    	<url-pattern>/deleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SelectJobController</servlet-name>
    	<url-pattern>/selectJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditJobController</servlet-name>
    	<url-pattern>/editJob</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginForm.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
